/* line 3, ../sass/style.scss */
body {
  height: 1000px;
}

/* line 7, ../sass/style.scss */
.container {
  position: relative;
  top: 300px;
  left: 100px;
  outline: 1px solid #333;
}
/* line 12, ../sass/style.scss */
.container .line {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 5px;
  background-color: #EC4E20;
}
/* line 20, ../sass/style.scss */
.container p {
  color: #000;
}
